
nav {
    color: #FFFFFF !important;
    background-color: #FA7921 !important; 
    font-weight: bold;
}

#btn-buscar {
    background-color: #E9CE2C !important;
}

.headLog {
    background-color: #FFC107;
}

.bodyFondo {
    background-color: #343434;
}
